<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/product.css" />
  </head>
  <body>
{{>navbar data=details}}  

 
<div class="row mt-4"> 
    <div class="col-md-4 offset-md-4">
       <div>
     
   </div>
        <div class="guest-form-card card">
            <div class="card-header text-center">
                {{#if product}}
                <h2>Edit Product</h2> 
                {{else}} 
                <h2>Add Product</h2>  
                {{/if}} 

                    {{#if productmessage}}                 
                      <div class="alert alert-danger">{{productmessage}}</div> 
                    {{/if}}
                     
                    {{#if successproductmessage}}                 
                      <div class="alert alert-success">{{successproductmessage}}</div> 
                    {{/if}} 
                    
              </div>
            <div class="card-body">
               {{#if product}}
                <form method="POST" action="/assessment/editProduct/{{product.productName}}" enctype="multipart/form-data">
                   <div class="form-group">
                        <label for ="productName">Name</label> 
                          <input id="productName" class="form-control" name="productName" value="{{product.productName}}"/> 
                          <input type="hidden" name="_id" value="{{product._id}}">                         
                        <span class="invalid-feedback">Name can't be blank.</span>
                    </div>

                    <div class="form-group">
                        <label for ="">Price</label>                       
                           <input id="productPrice" class="form-control" name="productPrice" value="{{product.productPrice}}"/>                         
                        <span class="invalid-feedback">                       
                        </span>
                    </div>
                    <div class="form-group">
                        <label for ="productCategory">Category</label>                       
                        <select class="form-control" name="productCategory" id="productCategory">
                          <option value="{{product.productCategory}}">{{product.productCategory}}</option>    
                          <option value="0">--Select--</option>                                                
                          <option value="Mens">Mens</option>
                          <option value="Womens">Womens</option>
                          <option value="Kids">Kids</option>                        
                        </select>                     
                        <span class="invalid-feedback"></span>
                    </div>

                    <div class="form-group">
                        <label for ="productDescription">Description</label>                     
                           <input id="productDescription" class="form-control" name="productDescription" 
                                 value="{{product.productDescription}}" required/>                                        
                        <span class="invalid-feedback"> 
                        </span>
                    </div> 
                      
                    <div class="form-group">
                    <table>
                      <tr>
                        <td>
                            <label for ="productUrl">Upload Product Image </label>
                            <input type="file" id="productUrl" name="productUrl" class="form-control" required />
                            <span class="invalid-feedback"> </span>
                        </td>
                        <td>
                          {{#if product}}
                          <img style="width:50%;height:50%" src={{product.productUrl}} /> 
                          {{/if}}
                        </td>
                      </tr>
                    </table>    
                    </div>                    
                    <input type="submit" class="btn btn-primary btn-block mt-2" value="Submit"/>  
                    <a class="btn btn-secondary btn-block mt-2" type="submit" href="/assessment">Cancel</a>                  
                </form>
                {{else}}
                <form method="POST" action="/assessment/addproduct" enctype="multipart/form-data">
                   <div class="form-group">
                        <label for ="productName">Name</label>                        
                          <input id="productName" class="form-control" name="productName" required/>                         
                        <span class="invalid-feedback">Name can't be blank.</span>
                    </div>

                    <div class="form-group">
                        <label for ="">Price</label>
                           <input id="productPrice" class="form-control" name="productPrice" required/>  
                        <span class="invalid-feedback">                       
                        </span>
                    </div>
                    <div class="form-group">
                        <label for ="productCategory">Category</label>                       
                        <select class="form-control" name="productCategory" id="productCategory">
                          <option value="0">--Select--</option>
                          <option value="Mens">Mens</option>
                          <option value="Womens">Womens</option>
                          <option value="Kids">Kids</option>                        
                        </select>                     
                        <span class="invalid-feedback"></span>
                    </div>

                    <div class="form-group">
                        <label for ="productDescription">Description</label>                       
                           <input id="productDescription" class="form-control" name="productDescription" required/> 
                        <span class="invalid-feedback"> 
                        </span>
                    </div> 
                      
                    <div class="form-group">
                        <label for ="productUrl">Upload Product Image </label>
                        <input type="file" id="productUrl" name="productUrl" class="form-control" required />
                        <span class="invalid-feedback"> </span>
                    </div>                    
                    <input type="submit" class="btn btn-primary btn-block mt-2" value="Submit"/>  
                    <a class="btn btn-secondary btn-block mt-2" type="submit" href="/assessment">Cancel</a>                  
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>
 
    </body>
</html>