<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/product.css" />
{{>navbar data=details}}
<script>
    function deleteItem(itemId) {

        const confirmation = confirm('Are you sure you want to delete this item?');
            if (confirmation) {
                // Make the API call to delete the item
                fetch('/assessment/delete/' + itemId, {
                method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        // Item deleted successfully
                        window.location.href = '/assessment'
                    } else {
                    // Error deleting the item          
                    }
                })
                .catch(error => {
                    // Handle any network or other errors
                    console.error(error);
                });
            }        
}
</script>
</head>
<body >
   {{#if product}}  
<table style="margin: 100;">
    <tr>             
        <td>
            
          <p class="card-text"> <strong>{{ product.productName }}</strong>  </p> <!--     ? added because without this console give error says undefined property -->
           <a type="button" class="btn btn-sm btn-outline-secondary product-btn text-right"  href="/assessment">Back</a>
            <img class="bd-placeholder-img card-img-top"  src={{product.productUrl}} style="height:80%"/>
        </td>    
        <td>
            <div class="card-body">                
                    <p class="card-text">                   
                        <strong>Price:</strong>  {{ product.productPrice}}                     
                    </p>
                   <p class="card-text"> {{product.productDescription}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">                        
                        <span>
                            <a type="button" class="btn btn-sm btn-primary product-btn" 
                            href="/assessment/addToCartByProduct?productName={{product.productName}}">Add to Cart</a> 
                        </span>   
                        <span > 
                            <a type="button" class="btn btn-sm btn-primary product-btn ms-1" href="/assessment/cart" >Go to Cart</a>
                        </span> 
                       
                        <span > 
                             <a  type="button" class="btn btn-sm btn-outline-primary product-btn ms-1" 
                                href="/assessment/purchaseOrder?productName={{product.productName}}&productPrice={{ product.productPrice}}">Buy Now</a>
                        </span> 
                          
                          <span > 
                            <a type="button" class="btn btn-sm btn-danger ms-1"  
                            onclick="deleteItem('{{product.productName}}')"
                            href="#">Delete</a>
                        </span>                         
                       
                    </div>                 
                    </div>
              </div>
        </td>       
    </tr>
</table>
{{/if}}
{{>footer}}
</body>
</html>